.input_nick::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  /* text-align: left; */
  padding-left: 7px;
}

.input_email::-webkit-input-placeholder {
    padding-left: 7px;
}

.input_password::-webkit-input-placeholder {
    padding-left: 7px;
}